.row {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.row-header {
    display: flex;
    margin-bottom: 8px;
}

.row-header img {
    margin-right: 6px;
    height: 30px;
    width: 30px;
}